<div class="content-body">
  <div class="description-group">
    <h5>HAYAO MIYAZAKI</h5>
    <h1>A VIAGEM DE CHIHIRO</h1>
    <p>Chihiro chega a um mundo mágico dominado por uma bruxa. Aqueles que a desobedecem são transformados em animais.</p>
    <div class="buttons">
      <div>
        <button class="WatchMovieNow"><img src="assets/image/Play.png" alt="ícone de play"><span>assistir agora</span></button>
      </div>
      <div>
        <button class="WatchTrailer"><span>assista o trailer</span></button>
      </div>
    </div>
  </div>

  <div class="image">
    <img src="assets/image/illustration.png" alt="imagem do persogem sem-rosto de a viagem de Chihiro">
  </div>

</div>
